*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
    color: block;
	align-items: center;
}
body._lock{
    overflow: hidden;
}
._container{
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
.wrapper{
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*---------------HEADER---------------*/

.header{
    z-index: 50;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.header::before{
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    background: #333333;
    height: 100%;
}
.header-block{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logotip{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logotip-all{
    display: flex;
}
.logotip-all2{
    z-index: 2;
    align-items: center;
    position: relative;
}
.logotip-image{
    margin: 5px 10px 0 0;
    max-width: 70px;
    max-height: 50px;
}
.logotip-name{
	line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	font-size: 30px;
    color: white;
}
@media (max-width: 600px) {
    .logotip-name{
        font-weight: 550;
        font-size: 25px;
    }
}
.header_burger{
    display: none;
    z-index: 6;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navigator{
    margin: 0 auto;
    z-index: 4;
}
.navigator-all{
    display: flex;
}
.navigator-all-button{
    flex: 1 1 auto;
    padding: 0 20px;
    align-items: center;
}
.navigator-button{
    line-height: 50px;
    display: block;
    text-align: center;
    color: white;
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
	font-size: 25px;
}
@media (max-width: 767px) {
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header_burger span,
    .header_burger::before,
    .header_burger::after{
        background-color: white;
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
    }
    .header_burger::before{
         top: 0;
    }
    .header_burger::after{
         bottom: 0;
    }
    .header_burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header_burger._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .header_burger._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header_burger._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .navigator-all{
        display: block;
    }
    .navigator._active{
        transform: translate(0,0);
    }
    .navigator{
        padding: 60px 0 0 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.99;
        transform: translate(0,-100%);
    }
    .navigator-button{
        margin: 0 auto;
        max-width: 100%;
    }
}
/*---------------NAVIGATOR---------------*/

.navigator-all-button{
	font-family: 'Montserrat', sans-serif;
}
.navigator-button:hover{
	background: #666666;
}
/*---------------MAIN---------------*/
.main{
    flex-grow: 1;
}
.page-header{
    position: relative;
}
.page-header-block{
    z-index: 3;
    padding: 150px 0 130px 0;
    position: relative;
}
@media (max-width: 1100px) {
    .page-header-block{
        padding: 120px 0 120px 0;
    }
}
@media (max-width: 767px) {
    .page-header-block{
        padding: 100px 0 110px 0;
    }
}
@media (max-width: 600px) {
    .page-header-block{
        padding: 110px 0 90px 0;
    }
}
.page-header-block-text{
    margin: 0 0 0 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}
@media (max-width: 1100px) {
    .page-header-block-text{
        font-size: 30px;
        margin: 0 0 0 3px;
    }
}
@media (max-width: 767px) {
    .page-header-block-text{
        font-size: 20px;
        margin: 0 0 0 3px;
    }
}
@media (max-width: 600px) {
    .page-header-block-text{
        font-size: 15px;
        margin: 0 0 0 2px;
    }
}
h1{
    margin: -15px 0 0 0;
    font-size: 150px;
	font-weight: 650;
	color: #540099;
	font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
}
@media (max-width: 1100px) {
    h1{
        font-size: 100px;
        margin: -10px 0 0 0;
    }
}
@media (max-width: 767px) {
    h1{
        font-size: 80px;
        margin: -7px 0 0 0;
    }
}
@media (max-width: 600px) {
    h1{
        font-size: 55px;
        margin: -3px 0 0 0;
    }
}
/*1100 768*/
.page-header-block-citata{
    max-width: 500px;
    margin: 20px 0 0 11px;
    color: white;
    font-family: 'Caveat', cursive;
    font-weight: 100;
    font-size: 35px;
    line-height: 40px;
}
@media (max-width: 1100px) {
    .page-header-block-citata{
        font-size: 30px;
        max-width: 400px;
        margin: 20px 0 0 7px;
    }
}
@media (max-width: 767px) {
    .page-header-block-citata{
        font-size: 25px;
        max-width: 300px;
        line-height: 40px;
        margin: 20px 0 0 6px;
    }
}
@media (max-width: 600px) {
    .page-header-block-citata{
        font-size: 20px;
        max-width: 200px;
        line-height: 25px;
        margin: 30px 10px 0 5px;
    }
}
.page-header-button{
    margin: 80px 0 0 11px;
    border: 3px solid white;
    border-radius: 30px;
    max-width: 220px;
    line-height: 29px;
    max-height: 70px;
    text-align: center;
    transition: 0.2s;
}
@media (max-width: 1100px) {
    .page-header-button{
        max-width: 180px;
        max-height: 50px;
        margin: 80px 0 0 7px;
    }
}
@media (max-width: 767px) {
    .page-header-button{
        max-width: 150px;
        max-height: 40px;
        border: 2px solid white;
        margin: 50px 0 0 6px;
    }
}
@media (max-width: 600px) {
    .page-header-button{
        max-width: 120px;
        max-height: 40px;
        line-height: 25px;
        border: 1px solid white;
        margin: 50px 0 0 5px;
    }
}
.page-header-button:hover{
    border: 3px solid grey;
    opacity: 0.7;
}
.page-header-button:active{
    border: 1px solid grey;
    opacity: 0.7;
    line-height: 33px;
}
.page-header-button-a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 35px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 1100px) {
    .page-header-button-a{
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .page-header-button-a{
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    .page-header-button-a{
        font-size: 15px;
        line-height: 19px;
    }
}
/* .page-header-block-number{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 35px;
    margin: 100px 0 0 20px;
    padding-bottom: 80px;
}
@media (max-width: 1100px) {
    .page-header-block-number{
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .page-header-block-number{
        font-size: 14px;
        margin: 100px 0 0 15px;
        padding-bottom: 60px;
    }
}
@media (max-width: 600px) {
    .page-header-block-number{
        font-size: 12px;
        margin: 100px 0 0 10px;
    }
} */

.page-header-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.page-header-image img{
    filter: brightness(45%);
    object-position: top;
    height: 100%;
}

/*-----------------SECTION------------------*/
.page-section{
    margin-top: -15px;
    position: relative;
    display: block;
}
.page-section-body{
    display: flex;
    flex-direction: column;
}
@media (max-width: 520px) {
    .page-section-body{
        width: 100%;
        position: absolute;
        margin-top: -40px;
    }
}
.page-section-block{
    position: relative;
    background: #333333;
    width: 650px;
    padding: 10px 10px;
    padding-left: 25px;
    z-index: 48;
    transform: skew(12deg,0deg);
    margin: 0 -12px 0 0;
    margin-left: auto;
}
@media (max-width: 767px) {
    .page-section-block{
        width: 500px;
        margin: 0 -14px 0 0;
        margin-left: auto;
    }
}
@media (max-width: 670px) {
    .page-section-block{
        width: 400px;
        margin: 0 -16px 0 0;
        margin-left: auto;
    }
}
@media (max-width: 520px) {
    .page-section-block{
        transform: skew(0deg,0deg);
        width: 100%;
        margin: 0 12px 0 0;
    }
}
.page-section-block-fon{
    margin: -60px -20px 0 0;
    margin-left: auto;
    padding: 10px 10px;
    background: #540099;
    position: relative;
    transform: skew(-12deg,0deg);
    width: 650px;
    z-index: 49;
}
@media (max-width: 767px) {
    .page-section-block-fon{
        width: 500px;
        margin: -50px -20px 0 0;
        margin-left: auto;
    }
}
@media (max-width: 670px) {
    .page-section-block-fon{
        width: 400px;
        margin: -35px -20px 0 0;
        margin-left: auto;
    }
}
@media (max-width: 520px) {
    .page-section-block-fon{
        transform: skew(0deg,0deg);
        width: 100%;
        margin: -35px 0 0 0;
    }
}
.page-section-block-locations{
    transform: skew(12deg,0deg);
    text-align: center;
}
@media (max-width: 520px) {
    .page-section-block-locations{
        text-align: center;
        transform: skew(0deg,0deg);
    }
}
.page-section-block-location{
    display: flex;
    justify-content: center;
    margin-left: -50px;
}
@media (max-width: 520px) {
    .page-section-block-location{
        margin-left: 0px;
    }
}
.page-section-block-location img{
    width: 40px;
    height: 40px;
    margin-right: 30px;
}
@media (max-width: 767px) {
    .page-section-block-location img{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
}
@media (max-width: 670px) {
    .page-section-block-location img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

h2{
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
@media (max-width: 767px) {
    h2{
        font-weight: 400;
        font-size: 30px;
    }
}
@media (max-width: 670px) {
    h2{
        font-weight: 300;
        font-size: 25px;
    }
}
.page-section-block-fon-carta{
    width: 100%;
    height: 500px;
    margin-top: -85px;
}
@media (max-width: 767px) {
    .page-section-block-fon-carta{
        height: 300px;
    }
}
@media (max-width: 520px) {
    .page-section-block-fon-carta{
        margin-top: 50px;
    }
}
.page-section-block-vremy{
    transform: skew(-12deg,0deg);
}
@media (max-width: 520px) {
    .page-section-block-vremy{
        transform: skew(0deg,0deg);
    }
}
.page-section-block-vremy-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: white;
    text-align: center;
    margin-left: -30px;
    
}
.page-section-block-adress-text{
    word-spacing: 5px;
    color: white;
    line-height: 50px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: -20px;
}
@media (max-width: 767px) {
    .page-section-block-adress-text{
        line-height: 30px;
        font-weight: 300;
        font-size: 16px;
    }
}
@media (max-width: 670px) {
    .page-section-block-adress-text{
        line-height: 20px;
        font-weight: 200;
        font-size: 14px;
        margin-left: -20px;
    }
}
@media (max-width: 520px) {
    .page-section-block-adress-text{
        text-align: center;
        margin-left: 0px;
    }
}

.image-slider{
    padding: 20px 0 70px 0;
}
.image-slider__wrapper{
}
.image-slider__slide{
    
}
.image-slider__image{
    text-align: center;
}
.image-slider__image img{
    max-width: 90%;
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after{
    color: black;
    font-size: 40px;
    margin-top: -50px;
}
@media (max-width: 1100px) {
    .image-slider .swiper-button-prev::after,
    .image-slider .swiper-button-next::after{
        font-size: 30px;
        margin-top: -50px;
    }
    .image-slider__image img{
        max-width: 85%;
    }
}
@media (max-width: 670px) {
    .image-slider .swiper-button-prev::after,
    .image-slider .swiper-button-next::after{
        margin-top: -50px;
        font-size: 25px;
    }
    .image-slider__image img{
        max-width: 80%;
    }
}
@media (max-width: 520px) {
    .image-slider .swiper-button-prev::after,
    .image-slider .swiper-button-next::after{
        font-size: 20px;
        margin-top: -50px;
    }
}
.image-slider .swiper-pagination {
    bottom: 30px;
}
.image-slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    background-color: #540099;
}
@media (max-width: 670px) {
    .image-slider .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    .image-slider .swiper-pagination {
        bottom: 40px;
    }
}
@media (max-width: 520px) {
    .image-slider .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    .image-slider .swiper-pagination {
        bottom: 50px;
    }
}
/*-------------price-list----------------*/
h3{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    transform: skew(12deg,0deg);
}
.uslug-contanier{
    position: relative;
    float: right;
    transform: skew(-12deg,0deg);
    width: 450px;
    padding: 15px;
    margin: -15px -20px 30px 0;
    height: 60px;
    background: #540099;
}
@media (max-width: 767px) {
    .uslug-contanier{
        width: 350px;
        margin: -15px -20px 0 0;
    }
}
@media (max-width: 670px) {
    .uslug-contanier{
        height: 50px;
        width: 300px;
        margin: -25px -20px 0 0;
    }
}
@media (max-width: 520px) {
    .uslug-contanier{
        transform: skew(0deg,0deg);
        width: 100%;
        margin: -40px 0 0 0;
    }
}
@media (max-width: 767px) {
    h3{
        font-weight: 400;
        font-size: 30px;
    }
}
@media (max-width: 670px) {
    h3{
        line-height: 20px;
        font-weight: 300;
        font-size: 25px;
    }
}
@media (max-width: 520px) {
    h3{
        transform: skew(0deg,0deg);
    }
}
.price-list-flex{
    border-radius: 15px;
    display: flex;
    margin-top: 75px;
    overflow-x: scroll;
}
@media (max-width: 670px) {
    .price-list-flex{
        margin-top: 55px;
    }
}
@media (max-width: 520px) {
    .price-list-flex{
        margin-top: 35px;
    }
}
.price-block{
    padding: 10px 15px;
    min-width: auto;
    min-height: auto;
}
.price-block-people{
    text-align: center;
}
.man-contant,
.child-contant{
    margin-top: 30px;
}
@media (min-width: 767px) {
    .man-contant,
    .child-contant{
        margin-top: 30px;
    }
}
.price-block p,
.price-block-2 p{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 767px) {
    .price-block p{
        font-size: 35px;
    }
}
.price-block-contant{
    width: auto;
}
.price-block-contant p,
.price-block-2-contant p{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}
@media (min-width: 767px) {
    .price-block-contant p{
        font-size: 25px;
        line-height: 30px;
    }
}
.price-block-contant-text,
.price-block-contant-text-unmargin{
    min-width: 300px;
}

@media (min-width: 767px) {
    .price-block-contant-text,
    .price-block-contant-text-unmargin{
        min-width: 400px;
    }
}
.price-block-contant-text:first-child{
    margin: 0 20px 0 0;
}
.d{
    width: auto;
    display: flex;
}

.woman-text{
    text-align: center;
}

.price-block-contant-li-flex{
    color: rgb(98, 98, 98);
    width: 100%;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Halvatic', sans-serif;
}
@media (min-width: 767px) {
    .price-block-contant-li-flex{
        line-height: 28px;
        font-size: 20px;
    }
}
.dotted{
    flex-grow: 1;
    margin: 0 5px;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: #585858;
}
.li-column{
    display: block;
}
.li-column p{
    font-size: 16px;
}
@media (min-width: 767px) {
    .li-column p{
        font-size: 22px;
    }
}

.heir{
    color: #403f3f;
    font-size: 15px;
}
h4{
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.woman{
    background: #ffdbde;
}
.man{
    background: #ddeeff;
}
.child{
    background: #ffff99;
}
/* .woman{
    background: #ff9baa;
}
.man{
    background: #75c1ff;
}
.child{
    background: #ffff66;
} */
.price-body-2{
    margin-top: 20px;
}

.price-block-2{
    width: 100%;
    background: #ebe9e9;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
}

.price-block-2:nth-child(5),
.price-block-2:nth-child(6),
.price-block-2:nth-child(7),
.price-block-2:nth-child(8) {
    margin-left: auto;
}
@media (min-width: 1081px) {
    .price-body-2-contant{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 800px;
    }
    .price-block-2{
        width: 49%;
    }
}
.purple-color-text{
    color: black;
}
.footer{
    flex-shrink: 0;
    padding: 100px 100px;
    background: #540099;
}
.number-block{
    align-items: center;
    display: flex;
}

.number-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}